.nav-links {
  padding: 10px;
}
.nav-links > a {
  width: 33.333%;
  float: left;
}
.nav-links > a > img {
  display: block;
  width: 100%;
}
.brand {
  padding: 0 10px;
}
.brand .title {
  width: 100%;
}
.brand .list {
  overflow: hidden;
}
.brand .list li {
  width: 25%;
  float: left;
}
.brand .list li img {
  width: 100%;
}
