.filter{
  margin: 10px auto 10px auto;
  width: 92%;
  .mui-col-xs-6{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background: #efeff4;
  }
  .mui-icon{
    font-size: 12px;
  }

}
#refreshContainer{
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
}